.g {
    width: 320px;
    height: 350px;
    margin-right: 30px;
    border-color: violet;
    border-width: 2px;

}

.h2. {
    text-align:center;
    color:teal;
}

.hy {
    width: 70%;
    height: 700px;
}

#a {
    margin-top: 10px;
}

#b {
    margin-top: 10px;
}

#c {
    margin-top: 10px;
}

#d {
    margin-top: 10px;
}

#hone{
    text-align:center;
    color: aquamarine;
    font-family:serif;
    font-size: 100px;
}
.grid{
    padding-left:25px;
}